h1.header {
    color:white;
    text-align: center;
    margin-bottom: 0px;
}

p.header {
    color: white;
    text-align: center;
    margin-top: 0px;
}

.header-wrapper{
    background-color: #9b3333;
    padding: 3%;
}